{% extends "control_panel/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit {{ theme.name }}{% endblock %}

{% block content %}
    <div class="container" style="padding: 5rem;">
        <h1 style="padding: 1rem">Edit {{ theme.name }}</h1>
        <form method="POST" encType="multipart/form-data">
            {% csrf_token %}
            {{ edit_form | crispy }}
            <button class="btn btn-meaqua" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    let colorPrimaryPicker = document.getElementById('id_color_primary');
    let colorAccentPicker = document.getElementById('id_color_accent');
    let colorBackgroundPicker = document.getElementById('id_color_background');
    let maskOpacityInput = document.getElementById('id_mask_opacity');

    colorPrimaryPicker.addEventListener('change', function() {
        document.body.style.setProperty('--color-primary', colorPrimaryPicker.value);
    });
    colorAccentPicker.addEventListener('change', function() {
        document.body.style.setProperty('--color-accent', colorAccentPicker.value);
    });
    colorBackgroundPicker.addEventListener('change', function() {
        document.body.style.setProperty('--color-background', colorBackgroundPicker.value);
    });
    maskOpacityInput.addEventListener('change', function() {
        document.body.style.setProperty('--mask-opacity', maskOpacityInput.value);
    });
</script>
{% endblock %}