{% extends "control_panel/base.html" %}
{% load static %}

{% block title %}Theme Gallery{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding: 1rem">Theme gallery</h1>
    {% if use_default_theme %}
    <div class="alert alert-warning" role="alert">
        <span class="mdi mdi-lightbulb-on" aria-hidden="true"></span>
        You are currently using the default theme, let's set up or create a new one!
    </div>
    {% endif %}
    <a href="{% url 'create_theme' %}" class="btn btn-meaqua"><i class="mdi mdi-plus" aria-hidden="true" style="font-size: 20px"></i> Create a new theme</a>
    <p></p>
    <div style="overflow:hidden">
        {% if user.is_authenticated %}
        {% if own_theme %}
        <h2>Your themes</h2>
        <div class="row">
            {% for theme in own_theme %}
                <div class="col-4">
                    {% include 'snippets/theme_card.html' %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if other_theme %}
        <h2>Other themes</h2>
        <div class="row">
            {% for theme in other_theme %}
                <div class="col-4">
                    {% include 'snippets/theme_card.html' %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% else %}
        <div class="row">
            {% for theme in theme_list %}
                <div class="col-4">
                    {% include 'snippets/theme_card.html' %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}