{% extends "control_panel/base.html" %}

{% block title %}Manage Bookmarks{% endblock %}

{% block content %}
<div class="container" style="padding: 5rem;">
    <h1 style="padding: 1rem">Manage Bookmarks</h1>
    <a href="{% url 'add_bookmarks' %}" class="btn btn-meaqua"><i class="mdi mdi-plus" aria-hidden="true" style="font-size: 20px"></i> Add Bookmarks</a>
    <a href="{% url 'add_bookmark_category' %}" class="btn btn-meaqua"><i class="mdi mdi-plus" aria-hidden="true" style="font-size: 20px"></i> Create new category</a>
    <p></p>
    <div style="overflow:hidden">
        <div class="row">
            {% for bookmark_category in bookmark_name_list %}
            <div class="col-3 bookmark-card">
                {% include "snippets/bookmarks_edit.html" %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}