::selection {
    color: var(--color-background);
    background: var(--color-accent);
}

* {
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
}

p {
    color: var(--color-primary);
}

.main-padding {
    padding: 4rem !important;
    z-index: 10;
}

#video-background {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.meaqua-search-bar {
    width: 100%;
    padding: 10px 0;
    color: var(--color-primary);
    margin-bottom: 20px;
    background-color: initial;
    border: none;
    border-bottom: 2px solid var(--color-accent);
    opacity: .5;
    transition: all .2s;
}

.meaqua-search-bar:focus {
    opacity: 1;
    outline: none;
}

#meaqua-time {
    text-transform: uppercase;
}

#meaqua-welcometext {
    font-weight: 700;
    font-size: 4em;
    display: inline-block;
}

#meaqua-applause {
    align-items: center;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2.5rem;
}

.meaqua-section-headline {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    color: var(--color-primary);
}