{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
{#    TODO: favicon#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/material-icon.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <meta charset="UTF-8">
    <title>{{ theme.title }}</title>
</head>

<style>
    * {
        {% if not user.is_authenticated or use_default_theme %}
        --color-primary: #dfd9d6 !important;
        --color-accent: #dbc2d1;
        --color-background:#0a0a0a;
        {% else %}
        --color-primary: {{ theme.color_primary }} !important;
        --color-accent: {{ theme.color_accent }};
        --color-background: {{ theme.color_background }};
        {% endif %}
    }

    body {
        height: 100vh;
        {% if not user.is_authenticated or use_default_theme %}
        background: url("{% static 'img/background.png' %}") top!important;
        {% else %}
        background: url("{{ theme.background.url }}") top!important;
        {% endif %}
        background-size: cover!important;
    }

    #video-background {
        background-color: var(--color-background);
    }

    #mask {
        {% if not user.is_authenticated or use_default_theme %}
        opacity: 0.5;
        {% else %}
        opacity: {{ theme.mask_opacity }};
        {% endif %}
    }
</style>

<body>
    {# If use has not set any video, remove video component from the page. #}
    {% if use_default_theme or theme.video.video.url != none %}
    <video autoplay loop id="video-background">
        {% if not user.is_authenticated or use_default_theme or theme.video.video.url == none %}
        <source src="{% static 'video/video.mp4' %}" type="video/mp4">
        {% else %}
        <source src="{{ theme.video.video.url }}" type="video/mp4">
        {% endif %}
    </video>
    {% endif %}

    <div id="mask"></div>

    <div class="container main-padding">
        <input type="text" class="meaqua-search-bar">
        <header>
            <p id="meaqua-time"></p>
            <div class="row">
                <div class="col-11">
                    <p id="meaqua-greeting"></p>
                </div>
                <div class="col-1">
                    <p>So fucking cold</p>
                </div>
            </div>
            <p id="meaqua-applause">
                {% if not user.is_authenticated or use_default_theme or theme.welcome_text == "" %}
                Hello! Hope you have a great day!
                {% else %}
                {{ theme.welcome_text }}
                {% endif %}
            </p>
        </header>
        {% if user.is_authenticated %}
        {% if applications|length > 0 %}
        <h2 class="meaqua-section-headline">Applications</h2>
        <div class="row">
            {% for application in applications %}
            <div class="col-3">
                <a href="{{ application.url }}" target rel="noreferrer" class="app-card">
                    <div class="app-card-icon"><i class="mdi mdi-{{ application.icon_name }}" aria-hidden="true" style="font-size: 24px; vertical-align: middle"></i></div>
                    <div class="app-card-detail">
                        <h5>{{ application.name }}</h5>
                        <span>
                            {% if application.description == "" or application.description == null %}
                            {{ application.url }}
                            {% else %}
                            {{ application.description }}
                            {% endif %}
                        </span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if bookmark_name_list|length > 0 %}
        <h2 class="meaqua-section-headline">Bookmarks</h2>
        <div class="row">
            {% for bookmark_category in bookmark_name_list %}
            <div class="col-3 bookmark-card">
                <h3>{{ bookmark_category }}</h3>
                <div class="bookmark-card-bookmark">
                    {% for bookmark in bookmark_list %}
                    {% if bookmark.category.name == bookmark_category %}
                    <a href="{{ bookmark.url }}" target rel="noreferrer">
                        <div class="bookmark-card-icon"><i class="mdi mdi-{{ bookmark.icon_name }}" aria-hidden="true" style="font-size: 20px"></i></div> {{ bookmark.name }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% else %}
        <p class="text-center" style="font-size: 15px;">Login and let's customize the meaqua as yours!</p>
        {% endif %}

    {#Right bottom button#}
    <div class="position-absolute bottom-0 end-0" style="margin-bottom: 10px; margin-right: 10px;">
        {% if use_default_theme or theme.video.video.url != none %}
        <button type="button" id="video-control" class="btn btn-meaqua"><i class="mdi mdi-pause" aria-hidden="true" style="font-size: 24px"></i></button>
        <button type="button" id="video-mute" class="btn btn-meaqua"><i class="mdi mdi-volume-high" aria-hidden="true" style="font-size: 24px"></i></button>
        {% endif %}
        <button type="button" id="settings" class="btn btn-meaqua" data-bs-toggle="modal" data-bs-target="#settings-modal"><i class="mdi mdi-cog" aria-hidden="true" style="font-size: 24px"></i></button>
    </div>

    {# Left bottom show what's playing #}
    {% if use_default_theme or theme.video.video.url != none %}
    <div class="position-absolute bottom-0 start-0" style="margin-bottom: 10px; margin-left: 10px;">
        <div id="video-info">
            {% if not user.is_authenticated or use_default_theme or theme.video.name == none %}
            <p>Now playing : loveletter</p>
            {% else %}
            <p>Now playing : {{ theme.video.name }}</p>
            {% endif %}
            <p id="video-time"></p>
        </div>
    </div>
    {% endif %}

    {# Modal #}
    <div class="modal fade" id="settings-modal" tabindex="-1" aria-labelledby="settings-header" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: var(--color-background)">
                <div class="modal-header">
                    <h5 class="modal-title" id="settings-header" style="color: var(--color-accent)">Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if user.is_authenticated %}
                    <p>Logged in as {{ user.username }}</p>
                    {% else %}
                    <p>Not logged in</p>
                    {% endif %}

                    {% if not user.is_authenticated or use_default_theme %}
                    <p>Current theme : Default</p>
                    {% else %}
                    <p>Current theme : {{ theme.name }}</p>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ settings | crispy }}
                        <button class="btn btn-meaqua" type="submit">Submit</button>
                    </form>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                    <a href="#" class="btn btn-meaqua">Settings</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-success">Login</a>
                    {% endif %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        {#Logged in toast#}
        <div class="toast" id="logged-in-toast" role="status" aria-live="polite" aria-atomic="true" style="transition: all .2s" data-bs-delay="3000">
            <div class="toast-body">
                Logged in as {{ user.username }}
                <div class="mt-2 pt-2 border-top">
                    <a href="#" class="btn btn-meaqua btn-sm">Go to settings</a>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
                </div>
            </div>
        </div>

        {# Not logged in toast #}
        <div class="toast" id="not-logged-in-toast" role="status" aria-live="polite" aria-atomic="true" style="transition: all .2s" data-bs-delay="3000">
            <div class="toast-body">
                You are not logged in.
                <div class="mt-2 pt-2 border-top">
                    <a href="{% url 'login' %}" class="btn btn-meaqua btn-sm">Login</a>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
                </div>
            </div>
        </div>

        {% if messages %}
        <div class="toast" id="messages" role="status" aria-live="polite" aria-atomic="true" style="transition: all .2s" data-bs-delay="3000">
            <div class="toast-body">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                <div class="mt-2 pt-2 border-top">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</body>

<script>
    let datetime = document.getElementById('meaqua-time');
    let greetingText = document.getElementById('meaqua-greeting');
    const days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
    const months = ['January','February','March','April','May','June','July','August','September','October','November','December'];

    updateTime();
    updateGreeting();

    function updateTime() {
        let date = new Date();
        // format : MONDAY, 25 JULY 2022 - 00:11:00
        // if the hour, minute, second is less than 10, add a 0 before it
        let hour = date.getHours();
        let minute = date.getMinutes();
        let second = date.getSeconds();
        if (hour < 10) {
            hour = '0' + hour;
        }
        if (minute < 10) {
            minute = '0' + minute;
        }
        if (second < 10) {
            second = '0' + second;
        }
        datetime.innerHTML = days[date.getDay()] + ', ' + date.getDate() + ' ' + months[date.getMonth()] + ' ' + date.getFullYear() + ' - ' + hour + ':' + minute + ':' + second;
    }

    // Change greeting text based on time of day
    function updateGreeting() {
        let date = new Date();
        let hour = date.getHours();
        // Good morning ; 6-12
        if (hour >= 6 && hour < 12) {
            greetingText.innerHTML = 'Good morning!';
        }
        // Good afternoon ; 12-18
        else if (hour >= 12 && hour < 18) {
            greetingText.innerHTML = 'Good afternoon!';
        }
        // Good evening ; 18-21
        else if (hour >= 18 && hour < 24) {
            greetingText.innerHTML = 'Good evening!';
        }
        // Good night ; 21-6
        else if (hour >= 0 && hour < 6) {
            greetingText.innerHTML = 'Good night!';
        }
    }

    {% if use_default_theme or theme.video.video.url != none %}
    let videoBackground = document.getElementById('video-background');
    let videoControl = document.getElementById('video-control');
    let videoMute = document.getElementById('video-mute');
    let videoTime = document.getElementById('video-time');
    let videoInfo = document.getElementById('video-info');
    let playFirstTime = false;

    // the video will not play if user is not interacting with the page first,
    // so we need to manually play it when the user interacts with the page first
    setTimeout(function() {
        videoBackground.play();
    }, 2000);
    updateVideoTime();

    // video control button
    videoControl.addEventListener('click', function() {
        if (videoBackground.paused) {
            videoBackground.play();
            videoControl.innerHTML = '<i class="mdi mdi-pause" aria-hidden="true" style="font-size: 24px"></i>';
        } else {
            videoBackground.pause();
            videoControl.innerHTML = '<i class="mdi mdi-play" aria-hidden="true" style="font-size: 24px"></i>';
        }
    });

    // video mute button
    videoMute.addEventListener('click', function() {
        if (videoBackground.muted) {
            videoBackground.muted = false;
            videoMute.innerHTML = '<i class="mdi mdi-volume-high" aria-hidden="true" style="font-size: 24px"></i>';
        } else {
            videoBackground.muted = true;
            videoMute.innerHTML = '<i class="mdi mdi-volume-off" aria-hidden="true" style="font-size: 24px"></i>';
        }
    });

    videoBackground.addEventListener('pause', function() {
        document.getElementById('video-background').style.opacity = 0;
        document.getElementById('video-background').style.backgroundColor = 'transparent';
        videoInfo.style.display = 'none';
    });

    videoBackground.addEventListener('play', function() {
        document.getElementById('video-background').style.opacity = 1;
        document.getElementById('video-background').style.backgroundColor = '#000000';
        videoInfo.style.display = 'block';
    });

    videoBackground.addEventListener('timeupdate', function() {
        updateVideoTime();
    });

    function updateVideoTime() {
        // format : 00:00 / 00:00
        let time = videoBackground.currentTime;
        let duration = videoBackground.duration;
        let minute = Math.floor(time / 60);
        let second = Math.floor(time % 60);
        let durationMinute = Math.floor(duration / 60);
        let durationSecond = Math.floor(duration % 60);
        if (minute < 10) {
            minute = '0' + minute;
        }
        if (second < 10) {
            second = '0' + second;
        }
        if (durationMinute < 10) {
            durationMinute = '0' + durationMinute;
        }
        if (durationSecond < 10) {
            durationSecond = '0' + durationSecond;
        }
        videoTime.innerHTML = minute + ':' + second + ' / ' + durationMinute + ':' + durationSecond;
    }
    {% endif %}

    // Update time every second
    setInterval(function() {
        updateTime()
    }, 1000);

    // Toast notification
    let loggedInToast = document.getElementById('logged-in-toast');
    let notLoggedInToast = document.getElementById('not-logged-in-toast');

    // show toast notification when user is logged in
    {% if user.is_authenticated %}
    new bootstrap.Toast(loggedInToast).show();
    {% else %}
    new bootstrap.Toast(notLoggedInToast).show();
    {% endif %}

    {% if messages %}
    new bootstrap.Toast(document.getElementById('messages')).show();
    {% endif %}

</script>

</html>